@font-face {
    font-family: norse;
    src: url(images/norse.otf) format('opentype');
  }

  :root.dark{
    --field--bgtwo: #111111;
    --field--bg: black;

    --input--hover-color: white;
    --color-base-text: white;
    --btn-color: #111111;
    --second-color-base-bg: rgba(0, 0, 0, 0.71);
    --input-txt: white;
    
  }
  :root.light{
    --field--bgtwo: #F9FAFB;
    --field--bg: #F9FAFB;
    --input-txt: black;
    --input--hover-color: #F0CD87;
    --color-base-text: #F0CD87;
    --btn-color: #F0CD87 ;
    --second-color-base-bg: black;


  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: norse,Roboto, sans-serif;
    font-weight: 500;
    
}
p{
    display: block;
    color: var(--color-base-text);
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    display: flex;
    flex-direction: row;
    height:100vh;
}
span {
    color: var(--color-base-text);
    font-size: 4.5rem;
    font-family: norse;   
    
}
.side {
    position: relative;
    background: no-repeat url(images/lighttheme.jpg)  0 0 / 100% 100%;
    width:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.image-container {
    height:140px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px;
    background-color: rgba(0, 1, 1, 0.3);
     width: 100%;
     margin-bottom: 390px;


    
}
.photo-credit {
    position: absolute;
    bottom: 20px ;
    color: var(--color-base-text);
    font-size: 1.3rem;
}
.photo-credit a {

    color: var(--color-base-text);

} 

img {
    width: clamp(100px, 5vw, 200px);
    height: auto;
}

 label {
    display: block;
}

/* side section ends here*/
.form-control {
    padding-top: 100px;
    padding-bottom:140px ;
    background-color: var(--field--bg);
}

.form-control > p {
    padding-left:40px ;
    line-height: 30px;
    padding-right: 100px;
    font-size: 1.5rem;
    font-weight: bold;
}
.form-control > p:nth-child(3) {
    margin-top: 10px;
    margin-bottom: 60px;
}
/* form section*/
form {
    color: var(--color-base-text);
    display: flex;
    background-color: var(--field--bg);

    flex-direction: column;
}

form > fieldset  {
    display: flex;
    background-color: rgba(00,00,00,0.2);
    flex-direction: column;
    gap:20px;
    padding-bottom: 50px;
    background-color:var(--field--bgtwo);
    border-top:0;
    box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.5);
    border-style: none;
}
h1 {
    margin-left: 30px;
    margin-top: 20px;
}
form > fieldset > div {
    display: flex;
    gap: 70px;
    margin-left: 30px;
    

}


input {
    width: 260px;
    height: 30px;
    padding: 3px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
}

input {
    background-color: var(--field--bg);
    color: var(--input-txt);
}

.submit-btn {
    width: 22%;
    font-size: large;
    border-radius: 10px;
    border: none;
    height: 50px;
    text-align: center;
    justify-self: center;
    align-self: flex-start;
    margin-top: 40px;
    color: white;
    margin-left: 60px;
    background-color: var(--btn-color);
    
}

#login {
    position: absolute;
    left: 1150px;
    bottom:25px;

    margin-left: 24px;
    margin-top: 50px;
    font-size: 20px;
}


#login > span {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--color-base-text);;
    

} 
#login > span a {
      color: var(--color-base-text);
}



form input:focus {
    border-style: none;
    box-shadow: 0px 0px 1px 1px var(--input--hover-color);
}

input:focus-visible {
    
    outline: initial; /* Reset the default outline */
}


.warning-msg {
    margin-top:-0.1px;
    margin-top:8px;
    margin-left:2px;
    color:red;
    font-weight:600;
    font-style:italic;
    display:none;
}
.warning {
    border-style: none;
    box-shadow: 0px 0px 1px 1px red;
}
.warning:focus {
    border-style: none;
    box-shadow: 0px 0px 1px 1px red;
}


.match {
    border-style: none;
    box-shadow: 0px 0px 1px 1px green;
}
.match:focus {
    border-style: none;
    box-shadow: 0px 0px 1px 1px green;
}


.match-msg {
    margin-top:-0.1px;
    margin-top:8px;
    margin-left:-2px;
    color:green;
    font-weight:600;
    font-style:italic;
    display:none;
}

.theme {
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    color: #E5E7EB;
    width: 80px;
    background-color: var(--btn-color);

}

.warning-msg,.match-msg {
    position: absolute;
}